### Walking & Health Notebook

#### Part I. Data Importation and Cleaning

In [85]:
import pandas as pd
import numpy as np

In [86]:
walkability = pd.read_csv("epa_walkability.csv")
health = pd.read_csv("places_health.csv")
relation = pd.read_csv("zcta_tract_relationship.txt", sep = "|")

/Users/jonathanyun/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3098: DtypeWarning: Columns (8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [115]:
match = relation[["GEOID_ZCTA5_20", "GEOID_TRACT_20"]]
match = match.dropna()
match['GEOID_TRACT_20'] = match['GEOID_TRACT_20'] / 1.0

walkability.rename(columns = {"GEOID20": "GEOID_TRACT_20"}, inplace = True)
walkability['GEOID_TRACT_20'] = (walkability['GEOID_TRACT_20'] // 10)

In [88]:
walkability = walkability.set_index("GEOID_TRACT_20").join(match.set_index("GEOID_TRACT_20")).reset_index()
walkability

,GEOID_TRACT_20,OBJECTID,GEOID10,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area,GEOID_ZCTA5_20
0,1.001020e+09,21583,1.001020e+10,1,1,20100,2,388.0,"Montgomery-Selma-Alexander City, AL",33860.0,...,-99999.0,-99999.0,1,1,6,1,2.666667,10046.856190,5.558385e+06,36067.0
1,1.001020e+09,23851,1.001020e+10,1,1,20100,1,388.0,"Montgomery-Selma-Alexander City, AL",33860.0,...,-99999.0,-99999.0,12,7,6,1,5.500000,11328.713760,4.287864e+06,36067.0
2,1.001020e+09,21598,1.001020e+10,1,1,20200,1,388.0,"Montgomery-Selma-Alexander City, AL",33860.0,...,-99999.0,-99999.0,19,5,10,1,7.666667,6554.628257,2.058380e+06,36067.0
3,1.001020e+09,21599,1.001020e+10,1,1,20200,2,388.0,"Montgomery-Selma-Alexander City, AL",33860.0,...,-99999.0,-99999.0,19,16,10,1,9.500000,5488.686855,1.272964e+06,36067.0
4,1.001020e+09,21662,1.001020e+10,1,1,20300,1,388.0,"Montgomery-Selma-Alexander City, AL",33860.0,...,-99999.0,-99999.0,4,8,7,1,4.666667,9334.269644,3.875571e+06,36067.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245923,7.803100e+10,220736,7.803100e+11,78,30,961000,2,NaN,NaN,NaN,...,-99999.0,-99999.0,1,1,20,1,7.333333,3414.446949,3.355857e+05,NaN
245924,7.803100e+10,220737,7.803100e+11,78,30,961000,3,NaN,NaN,NaN,...,-99999.0,-99999.0,1,1,20,1,7.333333,2421.025608,2.924305e+05,NaN
245925,7.803100e+10,220738,7.803100e+11,78,30,961000,5,NaN,NaN,NaN,...,-99999.0,-99999.0,1,1,20,1,7.333333,1955.909418,1.619395e+05,NaN
245926,7.803100e+10,220739,7.803100e+11,78,30,960700,3,NaN,NaN,NaN,...,-99999.0,-99999.0,1,1,10,1,4.000000,16896.768870,1.038966e+07,NaN
245927,7.803100e+10,220740,7.803100e+11,78,30,960200,2,NaN,NaN,NaN,...,-99999.0,-99999.0,1,1,12,1,4.666667,3890.488237,6.114601e+05,NaN

In [108]:
walk_subset = walkability[['NatWalkInd', 'GEOID_ZCTA5_20']]
walk_subset = pd.DataFrame(walk_subset.groupby("GEOID_ZCTA5_20").mean())
walk_subset

                NatWalkInd
GEOID_ZCTA5_20
6001.0            7.166667
6002.0            9.649123
6010.0           10.952991
6013.0            5.027778
6016.0            7.571429
...                    ...
99923.0           1.833333
99925.0           7.500000
99926.0           6.000000
99927.0           4.444444
99929.0           6.166667

[4229 rows x 1 columns]

In [110]:
health.set_index("LocationName").join(walk_subset).reset_index()

,index,Year,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,Geolocation,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text,NatWalkInd
0,1001,2020,BRFSS,Prevention,Current lack of health insurance among adults ...,%,Crude prevalence,6.2,NaN,NaN,5.5,7.0,16769,POINT (-72.62581515 42.06255509),1001,PREVENT,ACCESS2,CrdPrv,Health Insurance,NaN
1,1001,2020,BRFSS,Health Outcomes,Cancer (excluding skin cancer) among adults ag...,%,Crude prevalence,8.4,NaN,NaN,8.1,8.7,16769,POINT (-72.62581515 42.06255509),1001,HLTHOUT,CANCER,CrdPrv,Cancer (except skin),NaN
2,1001,2019,BRFSS,Prevention,Cholesterol screening among adults aged >=18 y...,%,Crude prevalence,91.8,NaN,NaN,91.2,92.4,16769,POINT (-72.62581515 42.06255509),1001,PREVENT,CHOLSCREEN,CrdPrv,Cholesterol Screening,NaN
3,1001,2020,BRFSS,Health Status,Mental health not good for >=14 days among adu...,%,Crude prevalence,14.3,NaN,NaN,13.7,14.9,16769,POINT (-72.62581515 42.06255509),1001,HLTHSTAT,MHLTH,CrdPrv,Mental Health,NaN
4,1001,2020,BRFSS,Health Outcomes,Obesity among adults aged >=18 years,%,Crude prevalence,27.9,NaN,NaN,27.1,28.7,16769,POINT (-72.62581515 42.06255509),1001,HLTHOUT,OBESITY,CrdPrv,Obesity,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969018,99929,2020,BRFSS,Prevention,Older adult women aged >=65 years who are up t...,%,Crude prevalence,30.8,NaN,NaN,24.8,37.5,2338,POINT (-131.6992663 56.36477625),99929,PREVENT,COREW,CrdPrv,Core preventive services for older women,6.166667
969019,99929,2020,BRFSS,Health Outcomes,Cancer (excluding skin cancer) among adults ag...,%,Crude prevalence,7.5,NaN,NaN,7.1,7.8,2338,POINT (-131.6992663 56.36477625),99929,HLTHOUT,CANCER,CrdPrv,Cancer (except skin),6.166667
969020,99929,2020,BRFSS,Prevention,Current lack of health insurance among adults ...,%,Crude prevalence,13.7,NaN,NaN,11.4,16.0,2338,POINT (-131.6992663 56.36477625),99929,PREVENT,ACCESS2,CrdPrv,Health Insurance,6.166667
969021,99929,2020,BRFSS,Health Status,Fair or poor self-rated health status among ad...,%,Crude prevalence,15.3,NaN,NaN,13.3,17.5,2338,POINT (-131.6992663 56.36477625),99929,HLTHSTAT,GHLTH,CrdPrv,General Health,6.166667
969022,99929,2020,BRFSS,Health Status,Mental health not good for >=14 days among adu...,%,Crude prevalence,12.6,NaN,NaN,11.8,13.5,2338,POINT (-131.6992663 56.36477625),99929,HLTHSTAT,MHLTH,CrdPrv,Mental Health,6.166667

In [113]:
walk_subset.reset_index()['GEOID_ZCTA5_20'].min()

6001.0