### Walking & Health Notebook

#### Part I. Data Importation and Cleaning

In [22]:
import pandas as pd
import numpy as np

In [73]:
walkability = pd.read_csv("epa_walkability.csv")
health = pd.read_csv("places_health.csv")
relation = pd.read_csv("zcta_tract_relationship.txt", sep = "|")

/Users/emilymei/opt/anaconda3/envs/orie_3310/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [74]:
match = relation[["GEOID_ZCTA5_20", "GEOID_TRACT_20"]]
match

        GEOID_ZCTA5_20  GEOID_TRACT_20
0                  NaN      1003010100
1                  NaN      1003010300
2                  NaN      1003010707
3                  NaN      1003010710
4                  NaN      1003990000
...                ...             ...
171475         99923.0      2198000300
171476         99925.0      2198000200
171477         99926.0      2198940100
171478         99927.0      2198000100
171479         99929.0      2275000300

[171480 rows x 2 columns]

In [70]:
print(match[match["GEOID_ZCTA5_20"] == 75001]["GEOID_TRACT_20"].astype(str))

127678    48113013627.0
127679    48113013628.0
127680    48113013725.0
127681    48113013726.0
127682    48113013727.0
127683    48113013805.0
127684    48113013806.0
Name: GEOID_TRACT_20, dtype: object

In [75]:
match = match.dropna()
match['GEOID_TRACT_20'] = match['GEOID_TRACT_20'] / 1.0
match.loc[3268]

/Users/emilymei/opt/anaconda3/envs/orie_3310/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

GEOID_ZCTA5_20    6.010000e+02
GEOID_TRACT_20    7.200196e+10
Name: 3268, dtype: float64

In [76]:
walkability["GEOID_TRACT_20"] = walkability["STATEFP"].astype(str).str.rjust(2,'0') + walkability["COUNTYFP"].astype(str).str.rjust(3,'0')+walkability["TRACTCE"].astype(str).str.rjust(6,'0')
# walkability["GEOID_TRACT_20"] = walkability["GEOID_TRACT_20"].str.ljust(11,'0')
walkability["GEOID_TRACT_20"] = walkability["GEOID_TRACT_20"].astype(float)
# print(list(walkability.columns))

In [77]:
walkability

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area,GEOID_TRACT_20
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,2.978361e+05,4.811301e+10
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,4.849451e+05,4.811301e+10
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,1.067059e+05,4.811301e+10
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,4.818284e+05,4.811301e+10
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,6.876848e+05,4.811301e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,220736,7.803100e+11,7.803100e+11,78,30,961000,2,NaN,NaN,NaN,...,-99999.000000,-99999.000000,1,1,20,1,7.333333,3414.446949,3.355857e+05,7.803096e+10
220736,220737,7.803100e+11,7.803100e+11,78,30,961000,3,NaN,NaN,NaN,...,-99999.000000,-99999.000000,1,1,20,1,7.333333,2421.025608,2.924305e+05,7.803096e+10
220737,220738,7.803100e+11,7.803100e+11,78,30,961000,5,NaN,NaN,NaN,...,-99999.000000,-99999.000000,1,1,20,1,7.333333,1955.909418,1.619395e+05,7.803096e+10
220738,220739,7.803100e+11,7.803100e+11,78,30,960700,3,NaN,NaN,NaN,...,-99999.000000,-99999.000000,1,1,10,1,4.000000,16896.768870,1.038966e+07,7.803096e+10
220739,220740,7.803100e+11,7.803100e+11,78,30,960200,2,NaN,NaN,NaN,...,-99999.000000,-99999.000000,1,1,12,1,4.666667,3890.488237,6.114601e+05,7.803096e+10

In [49]:
len(walkability['GEOID_TRACT_20'].unique())
len(match['GEOID_TRACT_20'].unique())

85143

In [78]:
walkability.dtypes

OBJECTID            int64
GEOID10           float64
GEOID20           float64
STATEFP             int64
COUNTYFP            int64
                   ...
D4A_Ranked          int64
NatWalkInd        float64
Shape_Length      float64
Shape_Area        float64
GEOID_TRACT_20    float64
Length: 118, dtype: object

In [79]:
joined_test = walkability.join(match.set_index("GEOID_TRACT_20"),on="GEOID_TRACT_20",lsuffix='_caller', rsuffix='_other')
joined_test

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area,GEOID_TRACT_20,GEOID_ZCTA5_20
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.137707,6,14,15,17,14.000000,3110.360820,2.978361e+05,4.811301e+10,75231.0
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.137707,6,14,15,17,14.000000,3110.360820,2.978361e+05,4.811301e+10,75243.0
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.231868,3,10,12,14,10.833333,3519.469110,4.849451e+05,4.811301e+10,75231.0
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.231868,3,10,12,14,10.833333,3519.469110,4.849451e+05,4.811301e+10,75243.0
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.213146,1,1,7,17,8.333333,1697.091802,1.067059e+05,4.811301e+10,75231.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,220736,7.803100e+11,7.803100e+11,78,30,961000,2,NaN,NaN,NaN,...,-99999.000000,1,1,20,1,7.333333,3414.446949,3.355857e+05,7.803096e+10,802.0
220736,220737,7.803100e+11,7.803100e+11,78,30,961000,3,NaN,NaN,NaN,...,-99999.000000,1,1,20,1,7.333333,2421.025608,2.924305e+05,7.803096e+10,802.0
220737,220738,7.803100e+11,7.803100e+11,78,30,961000,5,NaN,NaN,NaN,...,-99999.000000,1,1,20,1,7.333333,1955.909418,1.619395e+05,7.803096e+10,802.0
220738,220739,7.803100e+11,7.803100e+11,78,30,960700,3,NaN,NaN,NaN,...,-99999.000000,1,1,10,1,4.000000,16896.768870,1.038966e+07,7.803096e+10,802.0
220739,220740,7.803100e+11,7.803100e+11,78,30,960200,2,NaN,NaN,NaN,...,-99999.000000,1,1,12,1,4.666667,3890.488237,6.114601e+05,7.803096e+10,802.0

In [80]:
len(joined_test['GEOID_ZCTA5_20'].unique())

31608

In [84]:
walk_subset = joined_test[['NatWalkInd', 'GEOID_ZCTA5_20']]
walk_subset = pd.DataFrame(walk_subset.groupby("GEOID_ZCTA5_20").mean())
# len(walk_subset['GEOID_ZCTA5_20'].unique())
walk_subset

                NatWalkInd
GEOID_ZCTA5_20
601.0             3.244444
602.0             3.644444
603.0             4.241667
606.0             2.909091
610.0             3.455556
...                    ...
99923.0           1.833333
99925.0           7.500000
99926.0           6.000000
99927.0           4.444444
99929.0           6.166667

[31607 rows x 1 columns]

In [85]:
health.set_index("LocationName").join(walk_subset).reset_index()

,index,Year,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,Geolocation,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text,NatWalkInd
0,1001,2020,BRFSS,Prevention,Current lack of health insurance among adults ...,%,Crude prevalence,6.2,NaN,NaN,5.5,7.0,16769,POINT (-72.62581515 42.06255509),1001,PREVENT,ACCESS2,CrdPrv,Health Insurance,9.355556
1,1001,2020,BRFSS,Health Outcomes,Cancer (excluding skin cancer) among adults ag...,%,Crude prevalence,8.4,NaN,NaN,8.1,8.7,16769,POINT (-72.62581515 42.06255509),1001,HLTHOUT,CANCER,CrdPrv,Cancer (except skin),9.355556
2,1001,2019,BRFSS,Prevention,Cholesterol screening among adults aged >=18 y...,%,Crude prevalence,91.8,NaN,NaN,91.2,92.4,16769,POINT (-72.62581515 42.06255509),1001,PREVENT,CHOLSCREEN,CrdPrv,Cholesterol Screening,9.355556
3,1001,2020,BRFSS,Health Status,Mental health not good for >=14 days among adu...,%,Crude prevalence,14.3,NaN,NaN,13.7,14.9,16769,POINT (-72.62581515 42.06255509),1001,HLTHSTAT,MHLTH,CrdPrv,Mental Health,9.355556
4,1001,2020,BRFSS,Health Outcomes,Obesity among adults aged >=18 years,%,Crude prevalence,27.9,NaN,NaN,27.1,28.7,16769,POINT (-72.62581515 42.06255509),1001,HLTHOUT,OBESITY,CrdPrv,Obesity,9.355556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969018,99929,2020,BRFSS,Prevention,Older adult women aged >=65 years who are up t...,%,Crude prevalence,30.8,NaN,NaN,24.8,37.5,2338,POINT (-131.6992663 56.36477625),99929,PREVENT,COREW,CrdPrv,Core preventive services for older women,6.166667
969019,99929,2020,BRFSS,Health Outcomes,Cancer (excluding skin cancer) among adults ag...,%,Crude prevalence,7.5,NaN,NaN,7.1,7.8,2338,POINT (-131.6992663 56.36477625),99929,HLTHOUT,CANCER,CrdPrv,Cancer (except skin),6.166667
969020,99929,2020,BRFSS,Prevention,Current lack of health insurance among adults ...,%,Crude prevalence,13.7,NaN,NaN,11.4,16.0,2338,POINT (-131.6992663 56.36477625),99929,PREVENT,ACCESS2,CrdPrv,Health Insurance,6.166667
969021,99929,2020,BRFSS,Health Status,Fair or poor self-rated health status among ad...,%,Crude prevalence,15.3,NaN,NaN,13.3,17.5,2338,POINT (-131.6992663 56.36477625),99929,HLTHSTAT,GHLTH,CrdPrv,General Health,6.166667
969022,99929,2020,BRFSS,Health Status,Mental health not good for >=14 days among adu...,%,Crude prevalence,12.6,NaN,NaN,11.8,13.5,2338,POINT (-131.6992663 56.36477625),99929,HLTHSTAT,MHLTH,CrdPrv,Mental Health,6.166667