### Walking & Health Notebook

#### Part I. Data Importation and Cleaning

In [85]:
import pandas as pd
import numpy as np

In [86]:
walkability = pd.read_csv("epa_walkability.csv")
health = pd.read_csv("places_health.csv")
relation = pd.read_csv("zcta_tract_relationship.txt", sep = "|")

/Users/jonathanyun/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3098: DtypeWarning: Columns (8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [87]:
match = relation[["GEOID_ZCTA5_20", "GEOID_TRACT_20"]]
match = match.dropna()
match['GEOID_TRACT_20'] = match['GEOID_TRACT_20'] / 1.0

walkability.rename(columns = {"GEOID20": "GEOID_TRACT_20"}, inplace = True)
walkability['GEOID_TRACT_20'] = (walkability['GEOID_TRACT_20'] // 10)

In [88]:
walkability = walkability.set_index("GEOID_TRACT_20").join(match.set_index("GEOID_TRACT_20")).reset_index()
walkability

,GEOID_TRACT_20,OBJECTID,GEOID10,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area,GEOID_ZCTA5_20
0,1.001020e+09,21583,1.001020e+10,1,1,20100,2,388.0,"Montgomery-Selma-Alexander City, AL",33860.0,...,-99999.0,-99999.0,1,1,6,1,2.666667,10046.856190,5.558385e+06,36067.0
1,1.001020e+09,23851,1.001020e+10,1,1,20100,1,388.0,"Montgomery-Selma-Alexander City, AL",33860.0,...,-99999.0,-99999.0,12,7,6,1,5.500000,11328.713760,4.287864e+06,36067.0
2,1.001020e+09,21598,1.001020e+10,1,1,20200,1,388.0,"Montgomery-Selma-Alexander City, AL",33860.0,...,-99999.0,-99999.0,19,5,10,1,7.666667,6554.628257,2.058380e+06,36067.0
3,1.001020e+09,21599,1.001020e+10,1,1,20200,2,388.0,"Montgomery-Selma-Alexander City, AL",33860.0,...,-99999.0,-99999.0,19,16,10,1,9.500000,5488.686855,1.272964e+06,36067.0
4,1.001020e+09,21662,1.001020e+10,1,1,20300,1,388.0,"Montgomery-Selma-Alexander City, AL",33860.0,...,-99999.0,-99999.0,4,8,7,1,4.666667,9334.269644,3.875571e+06,36067.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245923,7.803100e+10,220736,7.803100e+11,78,30,961000,2,NaN,NaN,NaN,...,-99999.0,-99999.0,1,1,20,1,7.333333,3414.446949,3.355857e+05,NaN
245924,7.803100e+10,220737,7.803100e+11,78,30,961000,3,NaN,NaN,NaN,...,-99999.0,-99999.0,1,1,20,1,7.333333,2421.025608,2.924305e+05,NaN
245925,7.803100e+10,220738,7.803100e+11,78,30,961000,5,NaN,NaN,NaN,...,-99999.0,-99999.0,1,1,20,1,7.333333,1955.909418,1.619395e+05,NaN
245926,7.803100e+10,220739,7.803100e+11,78,30,960700,3,NaN,NaN,NaN,...,-99999.0,-99999.0,1,1,10,1,4.000000,16896.768870,1.038966e+07,NaN
245927,7.803100e+10,220740,7.803100e+11,78,30,960200,2,NaN,NaN,NaN,...,-99999.0,-99999.0,1,1,12,1,4.666667,3890.488237,6.114601e+05,NaN